<div class="container">
	<div class="jumbotron">
	  <h1 class="display-3">Foosball champion league</h1>
	  <p class="lead">The ITSF has held a World Championships annually, with the winner recognised as the best international multi-table player of the year</p>
	  <hr class="my-4">
	  <p>In the United States, the World Championships are held on the Tornado table, with previous events having been organised on the Dynamo and Tournament Soccer tables.</p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="https://github.com/hongtran/foosball" role="button">Learn more</a>
	  </p>
	</div>
	<%= image_tag('bg.jpg', style: "width: 100%") %>
</div>