.nested-games{
	.field{
		padding-bottom: 15px;
	}
	.label-game-session{
		font-weight: bold;
    font-size: 18px;
	}
	.add_nested_fields{
		margin-top: 15px;
	}
}
.nested-team-players{
	.field{
		padding-bottom: 15px;
	}
	.label-player-session{
		font-weight: bold;
    font-size: 18px;
	}
	.add_nested_fields{
		margin-top: 15px;
	}
}